/*
  .d88b.  d888888b db   db d88888b d8888b. .d8888.
 .8P  Y8. `~~88~~' 88   88 88'     88  `8D 88'  YP
 88    88    88    88ooo88 88ooooo 88oobY' `8bo.
 88    88    88    88~~~88 88~~~~~ 88`8b     `Y8b.
 `8b  d8'    88    88   88 88.     88 `88. db   8D
  `Y88P'     YP    YP   YP Y88888P 88   YD `8888Y'
*/

.font-100 {
    font-size: 100px;
}

.message-card {
    background-clip: padding-box;
    background-color: rgba(0, 150, 136, .3);
    padding: 10px;
    border-radius: 2px;
    color: #444;
    text-align: justify;
}